<div class="modal-header">
  <h4 class="modal-title pull-left">Add New Vehicle Part</h4>
  <button type="button" class="btn-close close pull-right" aria-label="Close" (click)="bsModalRef?.hide()">
    <span aria-hidden="true" class="visually-hidden">&times;</span>
  </button>
</div>
<div class="modal-body">
  <div class="form">
    <form>
      <div class="form-group">
        <label class="form-label">Part Id</label>
        <input class="form-control" type="text" name="partID" [(ngModel)]="vp.partID" />
      </div>

      <div class="form-group">
        <label class="form-label">Part Name</label>
        <input class="form-control" type="text" name="partName" [(ngModel)]="vp.partName" />
      </div>


      <div class="form-group">
        <label class="form-label">Brand Name</label>
        <input class="form-control" type="text" name="brandName" [(ngModel)]="vp.brandName" />
      </div>

      <div class="form-group">
        <label class="form-label">Price</label>
        <input class="form-control" type="text" name=" price" [(ngModel)]="vp.price" />
      </div>

      <div class="form-group">
        <label class="form-label">Shelve Number</label>
        <input class="form-control" type="text" name="shelve_number" [(ngModel)]="vp.shelveNumber" />
      </div>

      <div class="form-group">
        <label class="form-label">Available Qty</label>
        <input class="form-control" type="text" name="availableQty" [(ngModel)]="vp.availableQty" />
      </div>

      <div class="form-group">
        <label class="form-label">Purchase Date</label>
        <input class="form-control" type="Date" name="purchaseDate" [(ngModel)]="vp.purchaseDate" />
      </div>
      <br>
      <button class="btn btn-success " name="submit" (click)="save()">Submit</button>
      <button class="btn btn-secondary mx-4" name="cancel" (click)="close()">cancel</button>
    </form>
  </div>
</div>