<h1>Details of VehicleParts</h1>
<table class="table table-bordered" [width]="50">
  <thead>
    <tr>
      <th>partID</th>
      <th>partName</th>
      <th>brandname</th>
      <th>price</th>
      <th>shelveNumber</th>
      <th>availableQty</th>
      <th>purchaseDate</th>
    </tr>
  </thead>

  <tr *ngFor="let part of parts">
    <td>{{ part.partID }}</td>
    <td>{{ part.partName }}</td>
    <td>{{ part.brandName }}</td>
    <td>{{ part.price }}</td>
    <td>{{ part.shelveNumber }}</td>
    <td>{{ part.availableQty }}</td>
    <td>{{ part.purchaseDate }}</td>
  </tr>
</table>

<app-vehicle-part></app-vehicle-part>
